body
{
    background: blueviolet;
    color: crimson;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 0;
    padding: 0;

}


#header
{
    background-color:dodgerblue 10px 10px;
    box-shadow:0px 2px 20px 0px  black;
    color: black;
    font-weight: normal;
    font-size: medium;
}

#container h1
{
    font-size: 20px; 
}


#post
{
    color: black;
    text-align: left;
    font-style: oblique;
    font-size: 16px;
}

